.button {
    display: inline-block;
    box-sizing: border-box;
    border: 0.02em solid #ccc;
    border-radius: 70em;
    color: rgba(255, 255, 255, 0.8);
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.button.button-normal {
    font-size: 100%;
    padding: 1em 1.4em;
}

.button.button-big {
    font-size: 120%;
    padding: 1.2em 2.6em;
}

.button.button-small {
    font-size: 80%;
    padding: 0.4em 0.8em;
}

.button.button-small:focus {
    outline: none;
}